name: Web Deploy

on:
  workflow_call:
  push:
    branches:
      - develop
    paths:
      - 'packages/web-nextjs/**'
      - '.github/workflows/web-deploy.yml'

permissions:
  id-token: write
  deployments: write
  statuses: write
  contents: read

jobs:
  migrate:
    name: Deploy
    runs-on: ubuntu-latest
    environment: web-nextjs/${{github.ref_name == 'main' && 'prod' || github.ref_name == 'develop' && 'stg'}}

    defaults:
      run:
        working-directory: ./src/web

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        run: echo "I am doing a noop deploy"
  